################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/API/Test.Data/bin/Release/netstandard2.1
