.logo {
    width: 100%;
    height: 20px;
}

    .logo a img {
        width: 90%;
        height: auto;
    }
.menu ul li {
    margin: 0 10px;
}

.menu a {
    margin: 0 -20px;
    font-size:20px;
}

.bell {
    position: relative;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 60%;
}
.center-div {
    margin: auto;
    width: 60%;
}
.user ul li {
    margin: 0 5px;
}
.user a {
    margin: 0 5px;
    font-size:16px;
}

.number-notification span {
    position: absolute;
    background-color: #ff1e00;
    padding: 3px;
    border-radius: 100%;
    border: 1px solid #fff;
    font-size: 8px;
    top: -5px;
    color: white;
}

img.d-block.w-100 {
    height: 500px;
}

.gg-map {
    height: 100%;
}

    .gg-map iframe {
        width: 100%;
        height: 100%;
    }

input.mb-1.form-control {
    width: 30%;
}

#footer .row {
    height: 230px;
}
/* Show Thông báo */
.bell a i {
    position: relative;
}

.show-notification {
    position: absolute;
    background: #fff;
    width: 400px;
    min-height: 100px;
    top: 36px;
    right: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    animation: show ease-in-out 0.5s;
    z-index: 2;
    display: none;
}

    .show-notification::before {
        position: absolute;
        content: "";
        border: 10px solid #e1ba39;
        border-color: transparent transparent #007bff transparent;
        top: -20px;
        right: 14px;
    }

.bell:hover .show-notification {
    display: block;
}

.dropbtn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
