<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/temp/css/reset.css" />
    <link rel="stylesheet" href="~/temp/css/style.css" />
    <link rel="stylesheet" href="~/temp/bootstrap-4.6.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="~/temp/acssets/fontawesome-free-6.1.1-web/css/all.min.css" />
    <link href="~/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="menu">
                        <ul class="d-flex mt-4 font-weight-bold">
                            <li> <a class="nav-link text-info" asp-area="" asp-controller="Employee" asp-action="Index">Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 d-flex mt-4 font-weight-bold">
                    @*<div>
                        <span>Hi</span>
                    </div>*@
                    <div class="bell">
                        <a href=""><i class="fa-solid fa-bell"></i></a>
                        <div class="number-notification">
                            <span id="badgecounter">10</span>
                        </div>
                        <div class="show-notification">
                            <div id="articleList"></div>
                        </div>
                    </div>
                    
                    <div class="user center-div">
                        <ul>
                            <li><a class="btn btn-sm btn-danger" asp-area="" asp-controller="Auth" asp-action="Logout" style="float: right;">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/temp/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/temp/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>

    <script src="~/alertifyjs/alertify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
